
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="../../assets/ico/favicon.ico">

    <title>SimDB - Directory</title>
    
    
   
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">

  <!-- Optional theme -->
<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap-theme.min.css">

    <style>
        body {
            padding-top: 20px;
            padding-bottom: 20px;
        }
        
        .navbar {
            margin-bottom: 20px;
        }
    </style>

    <!-- Just for debugging purposes. Don't actually copy this line! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>

    <div class="container">

      <!-- Static navbar -->
      <div class="navbar navbar-default" role="navigation">
        <div class="container-fluid">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Sim DB Directory</a>
          </div>
          <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
              <li class="active"><a href="#">{{ user.username }}</a></li>
            </ul>
          </div><!--/.nav-collapse -->
        </div><!--/.container-fluid -->
      </div>

      <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Apps by me</h3>
        </div>
        <div class="panel-body">
            <table class="table table-bordered">
                <tr><th>App Name</th><th>App Key</th></tr>
                {% for app in apps_by_me %}
                    <tr><td><a href="/edit_app?key={{app.app_key}}">&nbsp;{{ app.name }}</a></td><td style="font-family: monospace; font-weight: bold">{{ app.app_key }}</td></tr>
                {% endfor %}
            </table>
        </div>
      </div>
      
        <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Create new App</h3>
        </div>
        <div class="panel-body">
            <form method="get" action="/edit_app">
                <table class="table">
                    <tr>
                        <td><input type="text" class="form-control" name="name" value="" placeholder="App Name">
            <input type="hidden" name="action" value="create_app" /></td>
                        <td><button type="submit" class="btn btn-primary">Create App</button></td>
                    </tr>
                </table>
            </form>
        </div>
      </div>

    </div> <!-- /container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="../../dist/js/bootstrap.min.js"></script>
  </body>
</html>
